@import "tailwindcss";

@theme {
  --color-default: var(--color-neutral-800);
  --color-muted: var(--color-neutral-600);

  --color-primary: #ce3918;
  --color-primary-secondary: #ae3112;

  --color-inverse: var(--color-neutral-50);

  --color-background: var(--color-white);
  --color-background-secondary: #f6f6fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-default: var(--color-neutral-50);
    --color-muted: var(--color-neutral-400);

    --color-primary: oklch(66.6% 0.191 33.5deg);
    --color-primary-secondary: oklch(66.6% 0.191 33.5deg);

    --color-inverse: var(--color-neutral-800);

    --color-background: var(--color-neutral-900);
    --color-background-secondary: var(--color-neutral-800);
  }
}

@layer components {
  .is-link {
    @apply font-medium hover:underline;
  }
  .is-link-button {
    @apply bg-primary text-inverse rounded-full py-1 px-4 hover:underline transition-colors;
  }
  .is-container {
    --padding: 1rem;
    --max-width: 42rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    @apply mx-auto;
  }
}

html {
  @apply text-default bg-background;
}
