---
const seo = {
  title: "Brisbane.Swift Meetup",
  description:
    "Meet fellow iOS developers, dive deep into Apple technologies and have fun at the Brisbane.Swift Meetup (formerly CocoaHeads Brisbane).",
};
---

<link rel="sitemap" href="/sitemap-index.xml" />
<title>{seo.title}</title>
<meta name="description" content="{seo.description}" />

<!-- Open Graph tags -->
<meta property="og:title" content="{seo.title}" />
<meta property="og:type" content="website" />
<!-- <meta property="og:url" content="http://www.example.com/" /> -->
<meta property="og:description" content="{seo.description}" />
<!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"> -->
<!-- <meta property="og:image:alt" content=""> -->
