---
import Head from "../components/Head.astro";
import NavMenu from "../components/NavMenu.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html>
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body>
    <NavMenu />
    <slot />
  </body><Footer />
</html>
